<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233308871814-d95c1bmajp0rgj2tb4opetfntttskfti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233308871814-d95c1bmajp0rgj2tb4opetfntttskfti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233308871814-nsq3qiqv4ehqmuej0k7ul9csjf4qcv5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT3iikoVItHOq3PQa9jHnLokYBo51jbOo</string>
	<key>GCM_SENDER_ID</key>
	<string>233308871814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gainz</string>
	<key>PROJECT_ID</key>
	<string>gainz-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>gainz-interview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233308871814:ios:c793ae1f1f32f1178c0507</string>
</dict>
</plist>